/*
index.css
---------
 
Par Alexandre RIQUEZ
*/

/* CSS DE BASE */

body /* CSS du body */
{
    font-family: 'Raleway', sans-serif;
}

a /* CSS des liens */
{
    text-decoration: none;
    color: black;
}

h1 /* CSS des titres H1 */
{
    font-weight: 700;
    font-size: 20px;
}

h3 /* CSS des titres H3 */
{
    font-weight: 700;
}

h4 /* CSS des titres H4 */
{
    font-weight: bold;
    font-size: 16px;
}

p /* CSS des textes p */
{
    font-weight: 400;
    font-size: 14px;
}

/* CSS DU HEADER */

#logo /* CSS du logo */ 
{
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
    transition: 0.2s;
}

#logo:hover /* CSS du logo survolé */
{
    opacity: 75%;
}

#container_menu /* CSS du menu en haut à droite */
{
    flex-direction: row;
    float: right;
    margin: 50px 50px;
}

#Hebergements /* CSS d'Hébergements dans le menu */
{
    padding: 35px;
    padding-top: 55px;
    transition: 0.2s;
}

#Hebergements:hover /* CSS d'Hébergements survolé */
{
    color: #0065FC;
    border-top: solid 3px;
    border-color: #0065FC;
}

#Activites /* CSS d'Activités dans le menu */
{
    padding: 35px;
    padding-top: 55px;
    transition: 0.2s;
}

#Activites:hover /* CSS d'Activités survolé */
{
    color: #0065FC;
    border-top: solid 3px;
    border-color: #0065FC;
}

#Sinscrire /* CSS de S'inscrire dans le menu */
{
    color: #0065FC;
    font-weight: bold;
    padding: 35px;
    padding-top: 55px;
    transition: 0.2s;
}

#Sinscrire:hover /* CSS de S'inscrire survolé */
{
    color: #0065FC;
    border-top: solid 3px;
    border-color: #0065FC;
}

#slogan /* CSS du slogan */
{
    line-height: 15px;
    margin-left: 50px;
}

/* CSS SEARCH BAR & FILTRES */

#conteneur_searchbar /* CSS de la searchbar et de l'icone marqueur */
{
    display: inline-flex;
    margin-left: 50px;
}

#marqueur /* CSS de l'icone Marqueur à côté du champ de recherche */
{
    width: 15px;
    height: 15px;
    border: solid 1px;
    border-color: #F2F2F2;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    transition: 0.3s;
}

#marqueur:hover /* CSS du bouton marqueur survolé */
{
    transform: scale(1.2);
}

#searchbar /* CSS de la searchbar */
{
    padding: 10px;
    border: solid 1px;
    border-color: #F2F2F2;
    padding-right: 25px;
    outline: none;
    font-weight: 400;
    font-size: normal;
}

::placeholder /* CSS du placeholder Marseille, France */
{
    font-family: 'Raleway', sans-serif;
    font-weight: 750;
    color: black;
}

#button_searchbar /* CSS du bouton rechercher */
{
    background-color: #0065FC;
    border: solid 1px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border-color: #0065FC;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -5px;
    padding: 10px;
    padding-right: 13px;
    cursor: pointer;
    transition: 0.3s;
}

#button_searchbar:hover /* CSS du bouton rechercher survolé */
{
    background-color: #F2F2F2;
    color: #0065FC;
    border-color: #F2F2F2;
}

#conteneur_filtres /* CSS du conteneur filtres */
{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

#conteneur_economique /* CSS du filtre économique */
{
    display: flex;
    align-items: center;
    margin: 5px;
    margin-left: 25px;
}

#icon_economique /* CSS de l'icone economique */
{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #DEEBFF;
    padding: 11px;
    z-index: 10;
}

#economique /* CSS du bouton économique */
{
    margin: 10px;
    margin-left: -20px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 15px;
    border: solid 2px;
    border-color: #F2F2F2;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: 1;
    transition: 0.3s;
}

#economique:hover /* CSS du bouton economique survolé */
{
    background-color: #0065FC;
    color: white;
}

#conteneur_familial /* CSS du filtre familial */
{
    display: flex;
    align-items: center;
    margin: 5px;
}

#icon_familial /* CSS de l'icone familial */
{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #DEEBFF;
    padding: 11px;
    z-index: 10;
}

#familial /* CSS du bouton familial */
{
    margin: 10px;
    margin-left: -20px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 15px;
    border: solid 2px;
    border-color: #F2F2F2;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: 1;
    transition: 0.3s;
}

#familial:hover /* CSS du bouton familial survolé */
{
    background-color: #0065FC;
    color: white;
}

#conteneur_romantique /* CSS du filtre romantique */
{
    display: flex;
    align-items: center;
    margin: 5px;
}

#icon_romantique /* CSS de l'icone romantique */
{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #DEEBFF;
    padding: 11px;
    z-index: 10;
}

#romantique /* CSS du bouton romantique */
{
    margin: 10px;
    margin-left: -20px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 15px;
    border: solid 2px;
    border-color: #F2F2F2;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: 1;
    transition: 0.3s;
}

#romantique:hover /* CSS du bouton romantique survolé */
{
    background-color: #0065FC;
    color: white;
}

#conteneur_animaux /* CSS du filtre animaux */
{
    display: flex;
    align-items: center;
    margin: 5px;
}

#icon_animaux /* CSS de l'icone animaux */
{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #DEEBFF;
    padding: 11px;
    z-index: 10;
}

#animaux /* CSS du bouton animaux */
{
    margin: 10px;
    margin-left: -20px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 15px;
    border: solid 2px;
    border-color: #F2F2F2;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: 1;
    transition: 0.3s;
}

#animaux:hover /* CSS du bouton animaux survolé */
{
    background-color: #0065FC;
    color: white;
}

#conteneur_infos_texte /* CSS du conteneur infos et indications */
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#filtres_indication /* CSS du texte à côté de l'icone d'infos */
{
    font-size: smaller;
    padding-left: 50px;
}

#icon_infos /* CSS de l'icone infos et son cercle */
{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50px;
    border: solid #F2F2F2;
    padding: 5px;
    margin-right: 10px;
    transition: 0.3s;
}

#icon_infos:hover /* CSS du bouton infos survolé */
{
    transform: scale(1.2);
}

/* CSS DU CONTAINER HEBERGEMENT ET POPULAIRE */

#container_hebergementspopulaire /* CSS du container incluant Hébergements à Marseille et Les plus populaires */
{
    display: flex;
    margin-left: 40px;
    margin-top: 10px;
}

/* CSS D'HEBERGEMENTS A MARSEILLE */

#hebergements_marseille /* CSS du container hébergements à Marseille */
{
    font-weight: 400;
    width: 800px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 40px;
    margin-right: 25px;
    margin-top: 20px;
}

#container_hebergementsmarseille /* CSS du container des hotels d'hébergements à Marseille */
{
    flex-wrap: wrap;
    display: inline-flex;
    margin-top: 10px;
}

#cannebiere /* CSS du container Auberge la Cannebière */
{
    border-radius: 20px;
    width: 245px;
    height: 200px;
    background-color: white;
    box-shadow: 0px 1px 10px -5px black;
    margin-right: 30px;
    margin-bottom: 30px;
    transition: 0.4s;
}

#cannebiere:hover
{
    transform: translateY(-5px);
}

#img_cannebiere /* CSS de l'image Auberge la Cannebière */
{
    overflow: hidden;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin: 5px;
    width: 236px;
    height: 114px;
    object-fit: cover;
    transition: 0.4s;
}

#texte_cannebiere /* CSS du texte Auberge la Cannebière */
{
    margin-left: 10px;
    line-height: 13px;
}

#hotel_port /* CSS du container Hôtel du port */
{
    border-radius: 20px;
    width: 245px;
    height: 200px;
    background-color: white;
    box-shadow: 0px 1px 10px -5px black;
    margin-right: 30px;
    margin-bottom: 30px;
    transition: 0.4s;
}

#hotel_port:hover
{
    transform: translateY(-5px);
}

#img_hotelport /* CSS de l'image de l'Hotel du port */
{
    overflow: hidden;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin: 5px;
    width: 236px;
    height: 114px;
    object-fit: cover;
}

#texte_hotelport /* CSS du texte Auberge la Cannebière */
{
    margin-left: 10px;
    line-height: 13px;
}

#mouettes /* CSS du container Hôtel les mouettes */
{
    border-radius: 20px;
    width: 245px;
    height: 200px;
    background-color: white;
    box-shadow: 0px 1px 10px -5px black;
    margin-bottom: 30px;
    transition: 0.4s;
}

#mouettes:hover
{
    transform: translateY(-5px);
}

#img_mouettes /* CSS de l'image de l'hotel les mouettes */
{
    overflow: hidden;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin: 5px;
    width: 236px;
    height: 114px;
    object-fit: cover;
}

#texte_mouettes /* CSS du texte Auberge la Cannebière */
{
    margin-left: 10px;
    line-height: 13px;
}

#hotel_mer /* CSS du container Hôtel de la mer */
{
    border-radius: 20px;
    width: 245px;
    height: 200px;
    background-color: white;
    box-shadow: 0px 1px 10px -5px black;
    margin-right: 30px;
    transition: 0.4s;
}

#hotel_mer:hover
{
    transform: translateY(-5px);
}

#img_hotelmer /* CSS de l'image Hôtel de la mer */
{
    overflow: hidden;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin: 5px;
    width: 236px;
    height: 114px;
    object-fit: cover;
}

#texte_hotelmer /* CSS du texte Auberge la Cannebière */
{
    margin-left: 10px;
    line-height: 13px;
}

#le_panier /* CSS du container Auberge Le panier */
{
    border-radius: 20px;
    width: 245px;
    height: 200px;
    background-color: white;
    box-shadow: 0px 1px 10px -5px black;
    margin-right: 30px;
    transition: 0.4s;
}

#le_panier:hover
{
    transform: translateY(-5px);
}

#img_lepanier /* CSS de l'image Auberge le panier */
{
    overflow: hidden;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin: 5px;
    width: 236px;
    height: 114px;
    object-fit: cover;
}

#texte_lepanier /* CSS du texte Auberge la Cannebière */
{
    margin-left: 10px;
    line-height: 13px;
}

#amina /* CSS du container Hôtel chez Amina */
{
    border-radius: 20px;
    width: 245px;
    height: 200px;
    background-color: white;
    box-shadow: 0px 1px 10px -5px black;
    transition: 0.4s;
}

#amina:hover
{
    transform: translateY(-5px);
}

#img_amina /* CSS de l'image Hôtel chez Amina */
{
    overflow: hidden;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin: 5px;
    width: 236px;
    height: 114px;
    object-fit: cover;
}

#texte_amina /* CSS du texte Auberge la Cannebière */
{
    margin-left: 10px;
    line-height: 13px;
}

#afficherplus /* CSS du bouton "Afficher plus" */
{
    font-weight: bold;
    margin-top: 45px;
    transition: 0.2s;
}

#afficherplus:hover /* CSS du bouton "Afficher plus" survolé */
{
    color: #0065FC;
}

/* CSS LES PLUS POPULAIRES */

#populaires /* CSS du container Les plus populaires */
{
    font-weight: 400;
    width: 350px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 40px;
    margin-left: 25px;
    margin-top: 20px;
}

#populaireschart /* CSS du container incluant "les plus populaires" et l'icone chart */
{
    display: flex;
    align-items: center;
}

#icone_chart /* CSS de l'icone chart */
{
    width: 20px;
    height: 20px;
    margin-left: 130px;
    transition: 0.4s;
}

#icone_chart:hover
{
    transform: scale(1.1);
}

#container_lespluspopulaires /* CSS du container inclant les plus populaires */
{
    display: inline-flex;
    flex-direction: column;
    margin-top: 10px;
}

#soleil_matin /* CSS du container Hôtel Le soleil du matin */
{
    border-radius: 20px;
    width: 345px;
    height: 145px;
    background-color: white;
    box-shadow: 0px 1px 10px -5px black;
    margin-bottom: 30px;
    transition: 0.4s;
}

#soleil_matin:hover
{
    transform: translateY(-5px);
}

#img_soleilmatin /* CSS de l'image Hôtel Le soleil du matin */
{
    overflow: hidden;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 5px;
    width: 127px;
    height: 134px;
    object-fit: cover;
}

#texte_soleilmatin
{

}

#chambres_hotes /* CSS du container Au cœur de l'eau Chambres d'hôtes */
{
    border-radius: 20px;
    width: 345px;
    height: 145px;
    background-color: white;
    box-shadow: 0px 1px 10px -5px black;
    margin-bottom: 30px;
    transition: 0.4s;
}

#chambres_hotes:hover
{
    transform: translateY(-5px);
}

#img_chambreshotes /* CSS de l'image Au coeur de l'eau chambres d'hôtes */
{
    overflow: hidden;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 5px;
    width: 127px;
    height: 134px;
    object-fit: cover;
}

#texte_chambreshotes
{

}

#bleu_blanc /* CSS du container Hôtel Tout bleu et blanc */
{
    border-radius: 20px;
    width: 345px;
    height: 145px;
    background-color: white;
    box-shadow: 0px 1px 10px -5px black;
    transition: 0.4s;
}

#bleu_blanc:hover
{
    transform: translateY(-5px);
}

#img_bleublanc /* CSS de l'image Hôtel tout bleu et blanc */
{
    overflow: hidden;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 5px;
    width: 127px;
    height: 134px;
    object-fit: cover;
}

#texte_bleublanc
{
    
}

/* CSS DES ACTIVITÉS A MARSEILLE */

#activites_marseille /* CSS du container Activités à Marseille */
{
    font-weight: 400;
    margin-left: 50px;
    margin-top: 65px;
    margin-bottom: 30px;
}

#container_activitesmarseille /* CSS du container incluant les activités à Marseille */
{
    flex-direction: row;
    display: flex;
    margin-bottom: 60px;
}

#Vieux_port
{
    border-radius: 20px;
    width: 300px;
    height: 450px;
    background-color: white;
    box-shadow: 0px 1px 10px -5px black;
    margin-left: 50px;
    margin-right: 50px;
    transition: 0.4s;
}

#img_vieuxport
{
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 300px;
    height: 380px;
    object-fit: cover;
}

#Vieux_port:hover
{
    transform: translateY(-5px);
}

#Pomegues_Frioul /* CSS container */
{
    flex-direction: column;
    margin-right: 50px;
}

#Pomegues
{
    border-radius: 20px;
    width: 300px;
    height: 240px;
    background-color: white;
    box-shadow: 0px 1px 10px -5px black;
    margin-bottom: 40px;
    transition: 0.4s;
}

#img_pomegues
{
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 300px;
    height: 170px;
    object-fit: cover;
}

#Pomegues:hover
{
    transform: translateY(-5px);
}

#Frioul
{
    border-radius: 20px;
    width: 300px;
    height: 170px;
    background-color: white;
    box-shadow: 0px 1px 10px -5px black;
    transition: 0.4s;
}

#img_frioul
{
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 300px;
    height: 100px;
    object-fit: cover;
}

#Frioul:hover
{
    transform: translateY(-5px);
}

#Calanques
{
    border-radius: 20px;
    width: 300px;
    height: 450px;
    background-color: white;
    box-shadow: 0px 1px 10px -5px black;
    margin-right: 50px;
    transition: 0.4s;
}

#img_calanques
{
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 300px;
    height: 380px;
    object-fit: cover;
}

#Calanques:hover
{
    transform: translateY(-5px);
}

#Dame_Longchamp /* CSS container */
{
    flex-direction: column;
}

#Dame_garde
{
    border-radius: 20px;
    width: 300px;
    height: 200px;
    background-color: white;
    box-shadow: 0px 1px 10px -5px black;
    margin-bottom: 40px;
    transition: 0.4s;
}

#img_damegarde
{
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 300px;
    height: 130px;
    object-fit: cover;
}

#Dame_garde:hover
{
    transform: translateY(-5px);
}

#Longchamp
{
    border-radius: 20px;
    width: 300px;
    height: 210px;
    background-color: white;
    box-shadow: 0px 1px 10px -5px black;
    transition: 0.4s;
}

#img_longchamp
{
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 300px;
    height: 140px;
    object-fit: cover;
}

#Longchamp:hover
{
    transform: translateY(-5px);
}

/* CSS DU FOOTER */

footer /* CSS du footer */
{
    background-color: #F2F2F2;
    height: 200px;
    position: relative;
}

#container_footer /* CSS container footer, contenant à propos, hébergements et assistance */
{
    display: flex;
    flex-direction: row;
    margin-right: 800px;
    box-sizing: inherit;
}

#col_apropos /* CSS de la colonne footer à propos */
{
    display: flex;
    flex-direction: column;
    line-height: 30px;
    font-weight: 500;
    margin-left: 50px;
    margin-right: 200px;

}

#col_hebergements /* CSS de la colonne footer nos hébergements */
{
    display: flex;
    flex-direction: column;
    line-height: 30px;
    font-weight: 500;
    margin-right: 200px;
}

#col_assistance /* CSS de la colonne footer assistance */
{
    display: flex;
    flex-direction: column;
    line-height: 30px;
    font-weight: 500;
}