/*
index.css
---------
 
Par Alexandre RIQUEZ
*/

body /* CSS du body */
{
    font-family: 'Raleway', sans-serif;
}

a /* CSS des liens */
{
    text-decoration: none;
    color: black;
}

h1 /* CSS des titres H1 */
{
    font-weight: 700;
    font-size: 20px;
}

h3 /* CSS des titres H3 */
{
    font-weight: 700;
}

p /* CSS des textes p */
{
    font-weight: 400;
    font-size: 14px;
}

#logo /* CSS du logo */ 
{
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 10px;
}

#container_menu /* CSS du menu en haut à droite */
{
    flex-direction: row;
    float: right;
}

#slogan /* CSS du slogan */
{
    padding-left: 50px;
    line-height: 10px;
    margin-bottom: 20px;
}

#conteneur_searchbar /* CSS de la searchbar et de l'icone marqueur */
{
    display: inline-flex;
    margin-left: 50px;
}

#marqueur /* CSS de l'icone Marqueur à côté du champ de recherche */
{
    width: 15px;
    height: 15px;
    border: solid 1px;
    border-color: #F2F2F2;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
}

#searchbar /* CSS de la searchbar */
{
    padding: 10px;
    border: solid 1px;
    border-color: #F2F2F2;
    padding-right: 25px;
    outline: none;
    font-weight: 400;
    font-size: normal;
}

::placeholder /* CSS du placeholder Marseille, France */
{
    font-family: 'Raleway', sans-serif;
    font-weight: 750;
    color: black;
}

#button_searchbar /* CSS du bouton rechercher */
{
    background-color: #0065FC;
    border: solid 1px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border-color: #0065FC;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -5px;
    padding: 10px;
    padding-right: 13px;
    cursor: pointer;
}

#conteneur_filtres /* CSS du conteneur filtres */
{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

#conteneur_economique /* CSS du filtre économique */
{
    display: flex;
    align-items: center;
    margin: 5px;
    margin-left: 25px;
}

#icon_economique /* CSS de l'icone economique */
{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #DEEBFF;
    padding: 11px;
    z-index: 10;
}

#economique /* CSS du bouton économique */
{
    margin: 10px;
    margin-left: -20px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 15px;
    border: solid 2px;
    border-color: #F2F2F2;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: 1;
}

#conteneur_familial /* CSS du filtre familial */
{
    display: flex;
    align-items: center;
    margin: 5px;
}

#icon_familial /* CSS de l'icone familial */
{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #DEEBFF;
    padding: 11px;
    z-index: 10;
}

#familial /* CSS du bouton familial */
{
    margin: 10px;
    margin-left: -20px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 15px;
    border: solid 2px;
    border-color: #F2F2F2;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: 1;
}

#conteneur_romantique /* CSS du filtre romantique */
{
    display: flex;
    align-items: center;
    margin: 5px;
}

#icon_romantique /* CSS de l'icone romantique */
{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #DEEBFF;
    padding: 11px;
    z-index: 10;
}

#romantique /* CSS du bouton romantique */
{
    margin: 10px;
    margin-left: -20px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 15px;
    border: solid 2px;
    border-color: #F2F2F2;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: 1;
}

#conteneur_animaux /* CSS du filtre animaux */
{
    display: flex;
    align-items: center;
    margin: 5px;
}

#icon_animaux /* CSS de l'icone animaux */
{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #DEEBFF;
    padding: 11px;
    z-index: 10;
}

#animaux /* CSS du bouton animaux */
{
    margin: 10px;
    margin-left: -20px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 15px;
    border: solid 2px;
    border-color: #F2F2F2;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: 1;
}

#conteneur_infos_texte /* CSS du conteneur infos et indications */
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#filtres_indication /* CSS du texte à côté de l'icone d'infos */
{
    font-size: smaller;
    padding-left: 50px;
}

#icon_infos /* CSS de l'icone infos et son cercle */
{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50px;
    border: solid #F2F2F2;
    padding: 5px;
    margin-right: 10px;
}

#etoiles /* CSS des étoiles */
{

}

#etoile_bleue /* CSS de l'étoile bleue */
{
    width: 15px;
    height: 15px;
}

#hebergements_marseille /* CSS du container hébergements à Marseille */
{
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    border: none;
    background-color: #F2F2F2;
    border-radius: 10px;
    float: left;
}

#cannebiere /* CSS du container Auberge la Cannebière */
{

}

#hotel_port /* CSS du container Hôtel du port */
{

}

#mouettes /* CSS du container Hôtel les mouettes */
{

}

#hotel_mer /* CSS du container Hôtel de la mer */
{

}

#le_panier /* CSS du container Auberge Le panier */
{

}

#amina /* CSS du container Hôtel chez Amina */
{

}

#populaires /* CSS du container Les plus populaires */
{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    border: none;
    background-color: #F2F2F2;
    border-radius: 10px;
}

#soleil_matin /* CSS du container Hôtel Le soleil du matin */
{

}

#chambres_hotes /* CSS du container Au cœur de l'eau Chambres d'hôtes */
{

}

#bleu_blanc /* CSS du container Hôtel Tout bleu et blanc */
{

}

#activites_marseille /* CSS du container Activités à Marseille */
{
    font-weight: 400;
}

footer /* CSS du footer */
{
    background-color: #F2F2F2;
    height: 200px;
    position: relative;
}

#container_footer /* CSS container footer, contenant à propos, hébergements et assistance */
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 800px;
    box-sizing: inherit;
}

#col_apropos /* CSS de la colonne footer à propos */
{
    display: flex;
    flex-direction: column;
    line-height: 30px;
    font-weight: 500;

}

#col_hebergements /* CSS de la colonne footer nos hébergements */
{
    display: flex;
    flex-direction: column;
    line-height: 30px;
    font-weight: 500;
}

#col_assistance /* CSS de la colonne footer assistance */
{
    display: flex;
    flex-direction: column;
    line-height: 30px;
    font-weight: 500;
}