/*
style.css
---------
 
Par Alexandre RIQUEZ
*/

a:hover { /* Survol des liens et des images */
    color: #0065FC;
    text-decoration: underline;
  }

#container_logomenu /* CSS du contenant logo et menu */
{
    display: flex;
}

#logo /* CSS du logo */ 
{
    padding-left: 50px;
    padding-top: 50px;
}

#menu /* CSS du menu en haut à droite */
{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: row-reverse;
}

#slogan /* CSS du slogan */
{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding-left: 50px;
}

#searchbar /* CSS de la searchbar */
{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: normal;
}

#conteneur_searchbar /* CSS de la searchbar et de l'icone marqueur */
{
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 0px 2px black;
    padding: 0.3em 0.3em;
    max-width: 400px;
}

#marqueur /* CSS de l'icone Marqueur à côté du champ de recherche */
{
    width: 15px;
    height: 15px;
    padding-left: 50px;
    padding-right: 2px;
}

#conteneur_infos_texte /* CSS du conteneur infos et indications */
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#filtres_indication /* CSS du texte à côté de l'icone d'infos */
{
    font-family: 'Raleway', sans-serif;
    font-size: smaller;
    padding-left: 50px;
}

#icon_infos /* CSS de l'icone infos et son cercle */
{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50px;
    box-shadow: 0px 0px 2px black;
    padding: 0.3em 0.3em;
    margin-right: 10px;
}

#conteneur_filtres /* CSS du conteneur filtres */
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#icon_economique /* CSS de l'icone economique */
{
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50px;
    background-color: #DEEBFF;
    padding: 10px 10px;
    margin-left: 30px;
}

#icon_familial /* CSS de l'icone familial */
{
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50px;
    background-color: #DEEBFF;
    padding: 10px 10px;
    margin-left: 30px;
}

#icon_romantique /* CSS de l'icone romantique */
{
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50px;
    background-color: #DEEBFF;
    padding: 10px 10px;
    margin-left: 30px;
}

#icon_animaux /* CSS de l'icone animaux */
{
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50px;
    background-color: #DEEBFF;
    padding: 10px 10px;
    margin-left: 30px;
}

#etoiles /* CSS des étoiles */
{

}

#etoile_bleue /* CSS de l'étoile bleue */
{
    width: 15px;
    height: 15px;
}

#hebergement_marseille /* CSS du container hébergements à Marseille */
{
    display: flex;
    flex-wrap: wrap;
}

#cannebiere /* CSS du container Auberge la Cannebière */
{

}

#hotel_port /* CSS du container Hôtel du port */
{

}

#mouettes /* CSS du container Hôtel les mouettes */
{

}

#hotel_mer /* CSS du container Hôtel de la mer */
{

}

#le_panier /* CSS du container Auberge Le panier */
{

}

#amina /* CSS du container Hôtel chez Amina */
{

}

#populaires /* CSS du container Les plus populaires */
{
    display: flex;
    flex-direction: column;
}

#soleil_matin /* CSS du container Hôtel Le soleil du matin */
{

}

#chambres_hotes /* CSS du container Au cœur de l'eau Chambres d'hôtes */
{

}

#bleu_blanc /* CSS du container Hôtel Tout bleu et blanc */
{

}

#container_footer /* CSS container footer, contenant à propos, hébergements et assistance */
{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

#col_apropos /* CSS de la colonne footer à propos */
{
    display: flex;
    flex-direction: column;
}

#col_hebergements /* CSS de la colonne footer nos hébergements */
{
    display: flex;
    flex-direction: column;
}

#col_assistance /* CSS de la colonne footer assistance */
{
    display: flex;
    flex-direction: column;
}