/*
style.css
---------
 
Par Alexandre RIQUEZ
*/

a:hover { /* Survol des liens et des images */
    color: #0065FC;
    text-decoration: underline overline;
  }

#logo /* Propriétes CSS du logo */ 
{
    padding-left: 50px;
    padding-top: 50px;
}

#slogan_searchbar
{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding-left: 50px;
}

#marqueur /* CSS de l'icone Marqueur à côté du champ de recherche */
{
    width: 10px;
    height: 10px;
    padding-left: 50px;
    padding-right: 2px;
}

#conteneur_infos_texte /* CSS du conteneur infos et indications */
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#filtres_indication /* CSS du texte à côté de l'icone d'infos */
{
    font-family: 'Raleway', sans-serif;
    font-size: smaller;
    padding-left: 50px;
}

#infos /* CSS de l'icone infos */
{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50px;
    box-shadow: 0px 0px 2px black;
    padding: 0.3em 0.3em;
    margin-right: 10px;
}

#conteneur_filtres /* CSS du conteneur filtres */
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#economique
{
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50px;
    background-color: #DEEBFF;
    padding: 10px 10px;
    margin-right: 10px;
}